<!-- Desktop -->
<div *ngIf="!mobile">
  <button type="button" class="btn btn-success m-3" style="font-size:24px;" (click)="open(content1)"><i
      class="fas fa-file-medical"></i></button>
  <button [disabled]="!editRowID" type="button" style="font-size:24px;" class="btn btn-success mr-3"
    (click)="update()"><i class="fas fa-clipboard-check"></i></button>
  <button [disabled]="!editRowID" type="button" style="font-size:24px;" class="btn btn-danger"
    (click)="open(content2)"><i class="fas fa-file-excel"></i></button>
  <div class="col-lg-12" style="overflow-x:auto;">
    <table #table class="table table-bordered table-striped" matSort (matSortChange)="sortData($event)">
      <thead>
        <tr>
          <th *ngFor="let headerTitle of headerTitles | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
            mat-sort-header="{{headerTitle}}">{{headerTitle}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of sortedData">
          <td (click)="edit(data)">{{data.tijd | date:'H:mm'}}</td>

          <td *ngIf="data.id === editRowID">
            <select #form1 style="width: fit-content;" class="form-control" [(ngModel)]="data.af">
              <option *ngFor="let a of af" [value]="a">
                {{a}}
              </option>
            </select>
          </td>
          <td *ngIf="data.id !== editRowID" (click)="edit(data)">{{data.af}}</td>

          <td *ngIf="data.id === editRowID">
            <select #form2 style="width: fit-content;" class="form-control" [(ngModel)]="data.hf">
              <option *ngFor="let h of hf" [ngValue]="h">
                {{h}}
              </option>
            </select>
          </td>
          <td *ngIf="data.id !== editRowID" (click)="edit(data)">{{data.hf}}</td>

          <td *ngIf="data.id === editRowID">
            <select #form3 style="width: fit-content;" class="form-control" [(ngModel)]="data.hr">
              <option *ngFor="let h of hr" [ngValue]="h">
                {{h}}
              </option>
            </select>
          </td>
          <td *ngIf="data.id !== editRowID" (click)="edit(data)">{{data.hr}}</td>

          <td *ngIf="data.id === editRowID">
            <select #form4 style="width: fit-content;" class="form-control" [(ngModel)]="data.ah">
              <option *ngFor="let a of ah" [ngValue]="a">
                {{a}}
              </option>
            </select>
          </td>
          <td *ngIf="data.id !== editRowID" (click)="edit(data)">{{data.ah}}</td>

          <td *ngIf="data.id === editRowID">
            <select #form5 style="width: fit-content;" class="form-control" [(ngModel)]="data.sat">
              <option *ngFor="let s of sat" [ngValue]="s">
                {{s}}
              </option>
            </select>
          </td>
          <td *ngIf="data.id !== editRowID" (click)="edit(data)">{{data.sat}}</td>

          <td *ngIf="data.id === editRowID">
            <select #form6 style="width: fit-content;" class="form-control" [(ngModel)]="data.bps">
              <option *ngFor="let b of bps" [ngValue]="b">
                {{b}}
              </option>
            </select>
          </td>
          <td *ngIf="data.id !== editRowID" (click)="edit(data)">{{data.bps}}</td>

          <td *ngIf="data.id === editRowID">
            <select #form7 style="width: fit-content;" class="form-control" [(ngModel)]="data.bpd">
              <option *ngFor="let b of bpd" [ngValue]="b">
                {{b}}
              </option>
            </select>
          </td>
          <td *ngIf="data.id !== editRowID" (click)="edit(data)">{{data.bpd}}</td>

          <td *ngIf="data.id === editRowID">
            <select #form8 style="width: fit-content;" class="form-control" [(ngModel)]="data.temp">
              <option *ngFor="let t of temp" [ngValue]="t">
                {{t}}
              </option>
            </select>
          </td>
          <td *ngIf="data.id !== editRowID" (click)="edit(data)">{{data.temp}}</td>

          <td *ngIf="data.id === editRowID">
            <select #form9 style="width: fit-content;" class="form-control" [(ngModel)]="data.gluc">
              <option *ngFor="let g of gluc" [ngValue]="g">
                {{g}}
              </option>
            </select>
          </td>
          <td *ngIf="data.id !== editRowID" (click)="edit(data)">{{data.gluc}}</td>

          <td *ngIf="data.id === editRowID"><textarea #form10 style="width: fit-content;" class="form-control"
              type="text" [(ngModel)]="data.opm"></textarea></td>
          <td *ngIf="data.id !== editRowID" (click)="edit(data)">{{data.opm}}</td>

          <td *ngIf="data.id === editRowID"><input #form11 style="width: fit-content;" class="form-control" type="text"
              [(ngModel)]="data.gebruiker"></td>
          <td *ngIf="data.id !== editRowID" (click)="edit(data)">{{data.gebruiker}} <i
              *ngIf="data.gebruiker == gebruiker" class="fas fa-pencil-alt"></i></td>
        </tr>
      </tbody>

    </table>
  </div>
</div>

<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Vitalparameter</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Ademhalingsfrequentie: </label>
      <select style="width: fit-content;" class="form-control" [(ngModel)]="addParam.af">
        <option *ngFor="let a of af" [ngValue]="a">
          {{a}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Hartfrequentie: </label>
      <select style="width: fit-content;" class="form-control" [(ngModel)]="addParam.hf">
        <option *ngFor="let h of hf" [ngValue]="h">
          {{h}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Hartritme: </label>
      <select style="width: fit-content;" class="form-control" [(ngModel)]="addParam.hr">
        <option *ngFor="let h of hr" [ngValue]="h">
          {{h}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Ademhaling: </label>
      <select style="width: fit-content;" class="form-control" [(ngModel)]="addParam.ah">
        <option *ngFor="let a of ah" [ngValue]="a">
          {{a}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Saturatie: </label>
      <select style="width: fit-content;" class="form-control" [(ngModel)]="addParam.sat">
        <option *ngFor="let s of sat" [ngValue]="s">
          {{s}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Bloeddruk Systolisch: </label>
      <select style="width: fit-content;" class="form-control" [(ngModel)]="addParam.bps">
        <option *ngFor="let b of bps" [ngValue]="b">
          {{b}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Bloeddruk Diastolisch: </label>
      <select style="width: fit-content;" class="form-control" [(ngModel)]="addParam.bpd">
        <option *ngFor="let b of bpd" [ngValue]="b">
          {{b}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Temperatuur: </label>
      <select style="width: fit-content;" class="form-control" [(ngModel)]="addParam.temp">
        <option *ngFor="let t of temp" [ngValue]="t">
          {{t}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Glucose: </label>
      <select style="width: fit-content;" class="form-control" [(ngModel)]="addParam.gluc">
        <option *ngFor="let g of gluc" [ngValue]="g">
          {{g}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Opmerkingen:</label>
      <textarea style="width: fit-content;" class="form-control" type="text" [(ngModel)]="addParam.opm"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" aria-label="Close" (click)="modal.dismiss('Cross click')">
      Annuleren
    </button>
    <button type="button" class="btn btn-success" (click)="modal.close('Save click'); add2()">Opslaan</button>
  </div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-body">
    <h4 class="modal-title" id="modal-basic-title">Verwijderen?</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" aria-label="Close" (click)="modal.dismiss('Cross click')">
      Annuleren
    </button>
    <button type="button" class="btn btn-danger"
      (click)="modal.close('verwijderen'); verwijderen()">Verwijderen</button>
  </div>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<!-- Mobile -->
<div *ngIf="mobile && !clicked">

  <button type="button" class="btn btn-success m-3" style="font-size:24px;" (click)="open(content1)"><i
      class="fas fa-file-medical"></i></button>

  <div class="ml-2 mr-2">
    <div (click)="toggleFilter()" style="width: 100%;" class="row">
      <div class="col">
        <h2 class="ml-2">Filters </h2>
      </div>
      <div class="col" style="text-align: right;">
        <p class="mt-2"><i *ngIf="!openFilter" style="font-size: 24px; text-align: right;"
            class="fas fa-arrow-down"></i><i *ngIf="openFilter" style="font-size: 24px; text-align: right;"
            class="fas fa-arrow-up"></i></p>
      </div>
    </div>
    <div class="ml-2 mr-2" *ngIf="openFilter">
      <label>Zoeken: </label> <input [(ngModel)]="searchText" class="form-control">
      <label>Weergeven: </label>
      <div class="scrollmenu mb-2">
        <a *ngFor="let headerTitle of headerTitles | slice:1; let i = index;" (click)="weergeven(headerTitle)"
          [ngStyle]="{backgroundColor: headerTitle.toLowerCase()==weergevenValue ? 'grey' : ''}">
          {{headerTitle}}
        </a>
      </div>
      <label>Sorteren op: </label>
      <div class="scrollmenu">
        <a *ngFor="let headerTitle of headerTitles" matSort (click)="mobileSortData(headerTitle)"
          [ngStyle]="{backgroundColor: headerTitle==sortedValue ? 'grey' : ''}">
          {{headerTitle}}
        </a>
      </div>
    </div>
    <h2 class="ml-2">Parameters: {{weergevenValue}}</h2>
    <ul class="parameters">
      <li *ngFor="let data of sortedData | filter : searchText" [class.selected]="data === selectedValue"
        (click)="data.gebruiker != gebruiker || onSelect(data)">
        <span class="badge">{{data.tijd | date:'H:mm'}}</span> {{data[weergevenValue]}} <i
          *ngIf="data.gebruiker == gebruiker" class="fas fa-pencil-alt"></i>
      </li>
    </ul>
    <mat-paginator [length]="2" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>

<div *ngIf="mobile && clicked">
  <div class="ml-3 mr-3" *ngIf="selectedValue">
    <h2>Details</h2>
    <div class="form-group">
      <label>Ademhalingsfrequentie: </label>
      <div class="scrollmenu">
        <a *ngFor="let a of af" (click)="selected(a, 'af')"
          [ngStyle]="{backgroundColor: a==selectedValue.af ? 'grey' : ''}">
          {{a}}
        </a>
      </div>
    </div>

    <div class="form-group">
      <label>Hartfrequentie: </label>
      <div class="scrollmenu">
        <a *ngFor="let h of hf" (click)="selected(h, 'hf')"
          [ngStyle]="{backgroundColor: h==selectedValue.hf ? 'grey' : ''}"
          id="{{h==selectedValue.hf ? 'testId' : 'nope'}}">
          {{h}}
        </a>
      </div>
    </div>

    <div class="form-group">
      <label>Hartritme: </label>
      <div class="scrollmenu">
        <a *ngFor="let h of hr" (click)="selected(h, 'hr')"
          [ngStyle]="{backgroundColor: h==selectedValue.hr ? 'grey' : ''}"
          id="{{h==selectedValue.hr ? 'testId' : 'nope'}}">
          {{h}}
        </a>
      </div>
    </div>

    <div class="form-group">
      <label>Ademhaling: </label>
      <div class="scrollmenu">
        <a *ngFor="let a of ah" (click)="selected(a, 'ah')"
          [ngStyle]="{backgroundColor: a==selectedValue.ah ? 'grey' : ''}"
          id="{{a==selectedValue.ah ? 'testId' : 'nope'}}">
          {{a}}
        </a>
      </div>
    </div>

    <div class="form-group">
      <label>Saturatie: </label>
      <div class="scrollmenu">
        <a *ngFor="let s of sat" (click)="selected(s, 'sat')"
          [ngStyle]="{backgroundColor: s==selectedValue.sat ? 'grey' : ''}"
          id="{{s==selectedValue.sat ? 'testId' : 'nope'}}">
          {{s}}
        </a>
      </div>
    </div>

    <div class="form-group">
      <label>Bloeddruk Systolisch: </label>
      <div class="scrollmenu">
        <a *ngFor="let b of bps" (click)="selected(b, 'bps')" [ngStyle]="{backgroundColor: b==selectedValue.bps ? 'grey' : ''}" id="{{b==selectedValue.bps ? 'testId' : 'nope'}}">
          {{b}}
        </a>
      </div>
    </div>

    <div class="form-group">
      <label>Bloeddruk Diastolisch: <input type="checkbox" checked (change)="checked = !checked"></label>
      <div *ngIf="checked" class="scrollmenu">
        <a *ngFor="let b of bpd" (click)="selected(b, 'bpd')" [ngStyle]="{backgroundColor: b==selectedValue.bpd ? 'grey' : ''}" id="{{b==selectedValue.bpd ? 'testId' : 'nope'}}">
          {{b}}
        </a>
      </div>
    </div>

    <div class="form-group">
      <label>Temperatuur: </label>
      <div class="scrollmenu">
        <a *ngFor="let t of temp" (click)="selected(t, 'temp')" [ngStyle]="{backgroundColor: t==selectedValue.temp ? 'grey' : ''}" id="{{t==selectedValue.temp ? 'testId' : 'nope'}}">
          {{t}}
        </a>
      </div>
    </div>

    <div class="form-group">
      <label>Glucose: </label>
      <div class="scrollmenu">
        <a *ngFor="let g of gluc" (click)="selected(g, 'gluc')" [ngStyle]="{backgroundColor: g==selectedValue.gluc ? 'grey' : ''}" id="{{g==selectedValue.gluc ? 'testId' : 'nope'}}">
          {{g}}
        </a>
      </div>
    </div>

    <div class="form-group">
      <label>Opmerkingen:</label>
      <textarea class="form-control" type="text" [(ngModel)]="selectedValue.opm"></textarea>
    </div>

    <div class="form-group">
      <label>Gebruiker:</label>
      <input class="form-control" readonly [(ngModel)]="selectedValue.gebruiker">
    </div>

    <div class="mt-2">
      <button type="button" class="btn bg-dark mr-2" style="font-size:24px; color: white;" (click)="terug()"><i
          style="font-size: 24px; text-align: right;" class="fas fa-arrow-left"></i></button>
      <button type="button" style="font-size:24px;" class="btn btn-success mr-2" (click)="update()"><i
          class="fas fa-clipboard-check"></i></button>
      <button type="button" style="font-size:24px;" class="btn btn-danger" (click)="open(content2)"><i
          class="fas fa-file-excel"></i></button>
    </div>
  </div>
</div>